body {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
}

.header__menu {
  
}

.header__links-list {
  display: flex;
  gap: 32px;
  padding-left: 0;
}

.header__links-list-item {
  padding-left: 0;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {

}

.header__logo-image {
  height: 105px;
}

.address {
  justify-self: end;
}

.header__address {
  max-width: 240px;
  line-height: 135%;
  
}

.address-list {
  text-underline-offset: 4px;
  list-style: none;
}

/* скорее всего не надо
.adress-item {

} */

.main {
  display: flex;
  gap: 180px;
  flex-direction: column;
}

.cover{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: 0 -17px;
}

.overlay{
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.cover__title{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 115px 0;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  gap: 20px;
  text-transform: uppercase;

}

.aligned-text {
  display: flex;
  align-self: flex-start;
  line-height: 115%;
  letter-spacing: 30px;
}

.aligned-text_center {
  display: flex;
  align-self: center;
  line-height: 100%;
  letter-spacing: 30px;
}

.aligned-text_right {
  display: flex;
  align-self: flex-end;
  line-height: 100%;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127.273%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
}

.lots__heading{
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  padding-top: 27px;
  padding-bottom: 30px;
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  z-index: 1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  padding-left: 40px;
}

.about {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 25px;
} 

.about__column {
  grid-column-start: 2;
  grid-column-end: 4;
}

.about__logo {
  padding-top: 1px;
  background-color: #000;
  border-radius: 50%;
  align-content: start;
  height: 240px;
  width: 240px;
}

.about__logo-image {
  padding: 63px 46px;
}

.about__title {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 100px 0px;
}

.about__text {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {

}
